footer{
    .footer-top{
        padding: 200px 0;
        background-image: url("/images/footer-bg.jpg");

        .bg-footer{

            img{
                width: 100%;
                display: block;
            }
        }

    }
}
